.gallery--button {
    height: 28px;
    top: -3em;
    position: relative;
    right: 3em;

    span {
        display: inline-block;
        height: 35;
        top: 50%;
        position: relative;
        margin-right: 15px;
        transform: translateY(-50%);
    }

    .icon-arrow--gallery {
        top: 50%;
        position: relative;
        transform: translateY(-50%);
        display: inline-block;
        height: 22px;

        svg {
            height: 100%;
        }
    }
}