.color--green {
    color: map-get($green, main);
}

.color--green-light {
    color: map-get($green, light);
}

.color--pink {
    color: map-get($pink, main);
}

.color--pink-faded {
    color: map-get($pink, faded);
}

.color--gold {
    color: map-get($gold, main);
}

.color--black {
    color: $black;
}

.color--white {
    color: $white;
}

.color--gray {
    color: $gray;
}

.hover--pink {
    transition: color 0.2s $base-cubic;

    &:hover {
        transition: color 0.2s $base-cubic;

        @extend .color--pink-faded;
    }
}

i {
    &.color--green {
        svg {
            path {
                fill: map-get($green, main);
            }
        }
    }
}

i {
    &.color--green-light {
        svg {
            path {
                fill: map-get($green, light);
            }
        }
    }
}

i {
    &.color--pink {
        svg {
            path {
                fill: map-get($pink, main);
            }
        }
    }
}

i {
    &.color--pink-faded {
        svg {
            path {
                fill: map-get($pink, faded);
            }
        }
    }
}

i {
    &.color--gold {
        svg {
            path {
                fill: map-get($gold, main);
            }
        }
    }
}

i {
    &.color--black {
        svg {
            path {
                fill: $black;
            }
        }
    }
}

i {
    &.color--white {
        svg {
            path {
                fill: $white;
            }
        }
    }
}