.flex {
    display: flex;
}

.flex--wrap {
    flex-wrap: wrap;
}

.justify--between {
    justify-content: space-between;
}

.justify--around {
    justify-content: space-around;
}

.align--items-center {
    align-items: center;
}