header {
    .icon-logo {
        svg {}
    }

    .icon-logo-horizontal {
        svg {
            width: 242px;
        }
    }
}

.icon-nav {
    position: relative;
    z-index: 99999;
    width: 32px;
    display: block;
    float: right;
}

.icon-logo {
    @include media($max-sm) {
        width: 180px;
        max-width: 80%;
    }
}

.icon-gold-border {
    @include media($max-sm) {
        background: none !important;
    }
}

.icon-deco {
    width: 32px;
    display: inline-block;

    &.top {
        top: 5px;

        &.right {
            transform: rotate(90deg);
            float: right;
            right: 0;
        }
    }

    &.bottom {
        &.left {
            transform: rotate(-90deg);
        }

        &.right {
            transform: rotate(180deg);
            float: right;
            right: 0;
        }

        bottom: 0;
    }

    &.up {
        transform: translateX(50%) translateY(50%) rotate(-135deg);
        transform-origin: top left;
    }

    &.down {
        transform: translateX(50%) translateY(-50%) rotate(45deg);
        transform-origin: top left;
        width: $mobile-spacing * 3;
    }

    @include media($screen-sm) {
        width: 35px;
        position: absolute;
        float: none;

        &.relative {
            position: relative;
        }
    }


    @include media($screen-xl) {
        &.top {
            top: 10px;
        }

        width: 45px;
    }
}

.icon-cocktail-illustration {
    width: $mobile-spacing * 3;

    @include media($screen-sm) {
        width: $mobile-spacing * 4;
    }
}

.icon-divider {
    width: 100px;

    @include media($screen-xs) {}


    @include media($screen-sm) {
        width: 120px;
    }


    @include media($screen-md) {
        width: 140px;
    }


    @include media($screen-lg) {}


    @include media($screen-xl) {}
}