.margin--vert-1 {margin-top:($mobile-spacing * 1);margin-bottom:($mobile-spacing * 1);}
.margin--vert-2 {margin-top:($mobile-spacing * 2);margin-bottom:($mobile-spacing * 2);}
.margin--vert-3 {margin-top:($mobile-spacing * 3);margin-bottom:($mobile-spacing * 3);}
.margin--vert-4 {margin-top:($mobile-spacing * 4);margin-bottom:($mobile-spacing * 4);}
.margin--vert-5 {margin-top:($mobile-spacing * 5);margin-bottom:($mobile-spacing * 5);}
.margin--vert-6 {margin-top:($mobile-spacing * 6);margin-bottom:($mobile-spacing * 6);}


.margin--horiz-1 {margin-left:($mobile-spacing * 1);margin-right:($mobile-spacing * 1);}
.margin--horiz-2 {margin-left:($mobile-spacing * 2);margin-right:($mobile-spacing * 2);}
.margin--horiz-3 {margin-left:($mobile-spacing * 3);margin-right:($mobile-spacing * 3);}
.margin--horiz-4 {margin-left:($mobile-spacing * 4);margin-right:($mobile-spacing * 4);}
.margin--horiz-5 {margin-left:($mobile-spacing * 5);margin-right:($mobile-spacing * 5);}
.margin--horiz-6 {margin-left:($mobile-spacing * 6);margin-right:($mobile-spacing * 6);}

.margin--dsk-vert-0 {@include media( $screen-sm ){margin-top:(0);margin-bottom:(0);};}
.margin--dsk-vert-1 {@include media( $screen-sm ){margin-top:(1em);margin-bottom:(1em);};}
.margin--dsk-vert-2 {@include media( $screen-sm ){margin-top:(2em);margin-bottom:(2em);};}
.margin--dsk-vert-3 {@include media( $screen-sm ){margin-top:(3em);margin-bottom:(3em);};}
.margin--dsk-vert-4 {@include media( $screen-sm ){margin-top:(4em);margin-bottom:(4em);};}
.margin--dsk-vert-5 {@include media( $screen-sm ){margin-top:(5em);margin-bottom:(5em);};}
.margin--dsk-vert-6 {@include media( $screen-sm ){margin-top:(6em);margin-bottom:(6em);};}


.margin--dsk-horiz-0 {@include media( $screen-sm ){margin-left:(0);margin-right:(0);};}
.margin--dsk-horiz-1 {@include media( $screen-sm ){margin-left:(1em);margin-right:(1em);};}
.margin--dsk-horiz-2 {@include media( $screen-sm ){margin-left:(2em);margin-right:(2em);};}
.margin--dsk-horiz-3 {@include media( $screen-sm ){margin-left:(3em);margin-right:(3em);};}
.margin--dsk-horiz-4 {@include media( $screen-sm ){margin-left:(4em);margin-right:(4em);};}
.margin--dsk-horiz-5 {@include media( $screen-sm ){margin-left:(5em);margin-right:(5em);};}
.margin--dsk-horiz-6 {@include media( $screen-sm ){margin-left:(6em);margin-right:(6em);};}

.margin--bot-1 {margin-bottom:($mobile-spacing * 1);}
.margin--bot-2 {margin-bottom:($mobile-spacing * 2);}
.margin--bot-3 {margin-bottom:($mobile-spacing * 3);}
.margin--bot-4 {margin-bottom:($mobile-spacing * 4);}
.margin--bot-5 {margin-bottom:($mobile-spacing * 5);}
.margin--bot-6 {margin-bottom:($mobile-spacing * 6);}
