.section--home-hours {
    height: calc(70vw - 5em);
    width: calc(100vw - 5em);
    background-size: 100% 100%;

    @include media($screen-xs) {}


    @include media($screen-sm) {
        height: calc(57vw - 5em);
        width: calc(80vw - 5em);
    }


    @include media($screen-md) {
        height: calc(42vw - 5em);
        width: calc(60vw - 5em);
    }


    @include media($screen-lg) {}


    @include media($screen-xl) {}
}