.section--menu {
    h5 {
        display: inline-block;

        hr {
            width: 110%;
        }
    }

    @include media($screen-sm) {
        background: linear-gradient(to bottom right, map-get($pink, main) 0%, map-get($pink, main) 50%, map-get($gold, main) 50%, map-get($gold, main) 100%);

        .block--menu-wrap {
            clip-path: polygon(100.3693% 22.81885%, 100.27781% 20.73367%, 100.25234% 20.25766%, 100.3188% 19.07443%, 100.19609% 18.87025%, 100.18886% 18.68009%, 100.28269% 18.55673%, 100.26218% 18.33133%, 100.3386% 16.36246%, 100.3484% 14.44048%, 100.33383% 12.94117%, 100.26751% 11.05722%, 100.25279% 10.68665%, 100.16074% 10.40483%, 100.26354% 10.05544%, 100.26729% 8.22783%, 100.25851% 7.75045%, 100.21498% 7.13776%, 100.23186% 6.45561%, 100.21819% 5.90205%, 99.3774% 5.67467%, 99.11286% 5.5953%, 99.3003% 5.55708%, 99.128% 5.47774%, 98.2631% 5.23515%, 98.26787% 5.24112%, 97.48027% 4.9462%, 97.48564% 4.94153%, 97.1926% 4.82053%, 97.07189% 4.71955%, 96.79024% 4.39128%, 96.80144% 4.41%, 96.78982% 4.39366%, 96.50306% 4.12112%, 96.40408% 3.99581%, 96.41025% 4.00729%, 96.40715% 4.00326%, 96.20495% 3.7119%, 96.20854% 3.71469%, 96.07254% 3.47388%, 95.82488% 3.19969%, 95.38168% 2.16352%, 94.90669% 0.08816%, 94.29868% 0.04758%, 92.61177% 0.14852%, 89.8811% 0.16385%, 87.03192% 0.15916%, 84.80941% 0.21437%, 82.91495% 0.22407%, 81.02883% 0.07686%, 78.53545% 0.00552%, 18.84664% 0.06588%, 15.16296% 0.21358%, 12.14138% 0.45836%, 10.6111% 0.5687%, 9.80693% 0.58009%, 7.61358% 0.65924%, 7.57962% 0.66013%, 7.05784% 0.71125%, 6.41903% 0.79311%, 6.40996% 0.97474%, 6.32535% 1.62152%, 6.2941% 1.69203%, 5.93705% 2.5916%, 5.91819% 2.61857%, 5.62896% 3.56345%, 5.36659% 4.1242%, 4.84915% 4.87756%, 4.13488% 5.53388%, 3.22983% 6.02211%, 2.34793% 6.26759%, 0.48501% 6.3881%, 0.47225% 6.98402%, 0.46054% 7.5805%, 0.4846% 8.13082%, 0.51613% 8.63271%, 0.57124% 9.20735%, 0.51376% 11.57522%, 0.27664% 15.73395%, 0.19666% 17.97565%, 0.00381% 21.09406%, 0.07826% 24.84904%, 0.1417% 25.63152%, 0.15014% 25.64358%, 0.11316% 25.94084%, 0.22212% 27.77717%, 0.15696% 31.11001%, 0.17793% 32.86746%, 0.09507% 61.5972%, 0.14882% 64.72237%, 0.15296% 66.99286%, 0.17416% 70.37367%, 0.14201% 73.95065%, 0.14102% 74.78369%, 0.13519% 76.97362%, 0.1305% 79.01148%, 0.10907% 81.4449%, 0.15419% 84.08306%, 0.19117% 84.79645%, 0.22198% 85.565%, 0.73627% 85.63236%, 0.93116% 85.67988%, 1.37444% 85.77331%, 1.92461% 86.02533%, 2.24517% 86.14777%, 2.89311% 86.62629%, 2.96183% 86.70774%, 4.05951% 87.75547%, 5.56154% 90.18872%, 5.57441% 90.22245%, 5.6166% 90.33249%, 5.75869% 90.61267%, 5.90569% 91.08087%, 6.02412% 91.36727%, 6.34236% 91.40358%, 8.20954% 91.35684%, 11.30933% 91.23322%, 16.8229% 91.31868%, 78.72928% 91.47426%, 81.5311% 91.5239%, 83.84234% 91.45215%, 84.85236% 91.42087%, 86.61256% 91.27804%, 87.82702% 91.12103%, 88.95241% 91.04575%, 91.12265% 91.039%, 91.87752% 91.11602%, 94.27426% 91.08302%, 94.69422% 90.96022%, 94.90323% 89.66384%, 95.50094% 88.23111%, 96.66434% 86.88238%, 96.74023% 86.59747%, 96.7961% 86.55258%, 97.1248% 86.45057%, 97.86237% 85.84652%, 99.73487% 84.92155%, 100.33931% 84.58658%, 100.34208% 83.95967%, 100.26119% 82.89085%, 100.10214% 80.83119%, 100.15778% 79.39428%, 100.10304% 78.0335%, 99.97427% 76.89598%, 100.01027% 76.8131%, 100.04093% 75.67074%, 100.04475% 75.66868%, 100.04195% 75.47106%, 100.12015% 73.54403%, 100.09419% 72.29398%, 99.98691% 71.14694%, 100.04793% 71.1282%, 100.04683% 70.68904%, 100.0706% 68.91364%, 100.06697% 67.2903%, 100.20085% 66.09492%, 100.1915% 65.24022%, 100.22311% 63.37669%, 100.23579% 62.62406%, 100.2915% 61.0444%, 100.28866% 60.91832%, 100.15577% 32.04683%, 100.14263% 30.36255%, 100.29555% 27.90326%, 100.35203% 26.26917%, 100.24181% 26.14236%, 100.29851% 25.60883%, 100.25732% 24.91561%, 100.30199% 24.23745%, 100.31225% 23.28502%, 100.3693% 22.81885%);
            padding-bottom: 10em;

            .gold-border {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                background: url("./images/bg-border.png");
                background-size: 100% 100%;
            }
        }
    }


    @include media($max-sm) {
        // text-align: center;

        .block--menu-wrap {
            overflow: hidden;

            .gold-border {
                // overflow-x: auto;
                // overflow-y: hidden;
                // -webkit-overflow-scrolling: touch;
                // white-space: nowrap;
                // list-style-type: none;
                margin: 0;
                margin-bottom: -1px;

                &.slick-slider {
                    user-select: initial !important;
                }

                .block--menu {
                    white-space: normal;
                    outline: none;
                    // display: inline-block;
               
                }
            }

            p {
                // font-size: 1.1em;
                margin-bottom: 1.5em;
            }
        }
    }
}