<header class="header dsk--flex flex--wrap align--items-center justify--between spacing--gutter spacing--vert-1">
	{% block header %}
		<a id="navToggle" class="icon-nav hidden--dsk" data-grunticon-embed></a>
		<a class="hdr-logo-link hidden--mob" href="/" rel="home"><i class="icon-logo-horizontal" data-grunticon-embed></i></a>
		{% include 'components/navigation.twig' %}
	{% endblock %}
</header>