<header class="header flex flex--wrap align--items-center justify--between spacing--gutter bg--white spacing--vert-1">
	{% block header %}
		<a class="hdr-logo-link" href="/" rel="home"><i class="icon-logo-horizontal" data-grunticon-embed></i></a>
		<i class="icon-nav hidden--dsk" data-grunticon-embed></i>
		{% include 'components/navigation.twig' %}
	{% endblock %}
</header>