<header class="header flex flex--wrap align--items-center">
	{% block header %}
		<a class="hdr-logo-link" href="/" rel="home"><i class="icon-logo" data-grunticon-embed></i></a>
		{% include 'components/navigation.twig' %}
	{% endblock %}
</header>