{% extends "base.twig" %}

{% block content %}
<section class="bg--green-light color--white font--larger text--center spacing--vert-2 spacing--gutter">
	<i class="icon-skel-guy" data-grunticon-embed></i>
	<h2 class="spacing--vert-1 font--smaller hidden--dsk">Yeah, we couldn't find that.</h2>
	<h2 class="spacing--vert-1 hidden--mob">Yeah, we couldn't find that.</h2>
</section>
{% endblock %}