{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
{% include 'components/header.twig' %}
<main role="main" class="content-wrapper">
	{% if title %}<h1>{{title}}</h1>{% endif %}
	{% block content %}
		Sorry, no content
	{% endblock %}
</main>
{% block footer %}
	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
{% endblock %}
</body>
<script>var myLazyLoad = new LazyLoad({
// example of options object -> see options section
threshold: 500,
throttle: 30,
progressive: true,
show_while_loading: false,
});</script>
</html>