{% extends "base.twig" %}
{% block content %}
	{% include 'components/sections/section--hero-content.twig' %}
	{% include 'components/sections/section--email-signup.twig' %}
	<section class="bg--green color--white spacing--gutter spacing--vert-2">
		{{post.content}}
	</section>
	{% include 'components/sections/section--menu.twig' %}
{% endblock %}