.icon-gold-border-menu { background-image: url('app/icons/gold-border-menu.png'); background-repeat: no-repeat; }

.icon-gold-border { background-image: url('app/icons/gold-border.png'); background-repeat: no-repeat; }

.icon-logo-horizontal { background-image: url('app/icons/logo-horizontal.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-nav { background-image: url('app/icons/nav.png'); background-repeat: no-repeat; }

.icon-plane { background-image: url('app/icons/plane.png'); background-repeat: no-repeat; }

