html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "sofia-pro",sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  color: #163323;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "ronnia",sans-serif;
  font-weight: 600;
  line-height: 1.31; }

h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  text-transform: uppercase; }

h1 {
  font-size: 2.75em;
  letter-spacing: 2px;
  line-height: 1.1;
  margin-bottom: 0.2em; }

h2 {
  font-size: 1.1825em;
  letter-spacing: 1.7px; }

h3 {
  font-size: 0.85em;
  letter-spacing: 1.6px; }

h4 {
  font-family: "sofia-pro",sans-serif;
  font-size: .9em;
  letter-spacing: 2px; }

h5 {
  font-size: .9625em;
  letter-spacing: 2px; }

h6 {
  font-size: .77em;
  letter-spacing: 1.6px;
  margin-bottom: 0.5em; }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.4375em; }
  h2 {
    font-size: 1.47813em; }
  h3 {
    font-size: 1.30625em; }
  h4 {
    font-size: .9em; }
  h5 {
    font-size: 1.20313em; }
  h6 {
    font-size: .9625em; } }

em {
  font-style: italic; }

strong, b {
  font-weight: 600; }

ul {
  list-style-type: disc; }

ul li {
  margin-left: 1.5em; }

ul, ol {
  margin-bottom: 1em; }

ol {
  list-style-position: inside !important;
  list-style: decimal; }

.center {
  text-align: center; }

a {
  text-decoration: none;
  color: #fac4c0; }

code, pre {
  font-family: monospace; }

p {
  margin-bottom: 1em; }

nav ul {
  margin: 0; }

nav ul li {
  margin: 0;
  display: inline-block; }

nav ul li a {
  position: relative; }

@media screen and (max-width: 767px) {
  nav {
    border-radius: 8px;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 100%;
    bottom: 0;
    right: 0;
    background-color: #163323;
    text-align: center;
    padding-top: 88px;
    -webkit-transition: top 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: top 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
  nav ul li {
    padding: 1em 0;
    display: block; }
  nav ul li a {
    color: white !important; } }

.icon-nav {
  top: 12px;
  tap-highlight: transparent;
  -webkit-tap-highlight: transparent; }

.icon-nav svg path {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99); }

.icon-nav svg path#TopPath {
  -webkit-transform-origin: top left !important;
          transform-origin: top left !important; }

.icon-nav svg path#BottomPath {
  -webkit-transform-origin: bottom left !important;
          transform-origin: bottom left !important; }

@media screen and (max-width: 767px) {
  body.open {
    position: fixed; }
  body.open nav {
    -webkit-transition: top 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: top 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    top: 7px; }
  body.open .icon-nav svg path {
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
  body.open .icon-nav svg path#TopPath {
    -webkit-transform-origin: top left !important;
            transform-origin: top left !important;
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
            transform: translateX(4px) translateY(-3px) rotate(45deg); }
  body.open .icon-nav svg path#BottomPath {
    -webkit-transform-origin: bottom left !important;
            transform-origin: bottom left !important;
    -webkit-transform: translateX(4px) translateY(3px) rotate(-45deg);
            transform: translateX(4px) translateY(3px) rotate(-45deg); } }

header {
  z-index: 10;
  position: relative; }

@media screen and (min-width: 768px) {
  header.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 0 5px 0px rgba(22, 51, 35, 0.3);
    background-color: white; } }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 100;
  padding: 0; }

label {
  display: block;
  font-weight: 100; }

input, select, textarea {
  display: block;
  font-family: "sofia-pro",sans-serif;
  font-size: 1.1em;
  padding: 6px 9px;
  font-size: 0.9em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  color: #000;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid #bc9139;
  font-family: "ronnia",sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transform: skewY(-1deg);
          transform: skewY(-1deg);
  box-shadow: none;
  box-sizing: border-box;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  margin-bottom: 1em;
  padding: 6px 9px;
  font-size: 0.9em; }

[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  box-shadow: 0;
  outline: none; }

[type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #bc9139; }

[type='color']:-moz-placeholder, [type='date']:-moz-placeholder, [type='datetime']:-moz-placeholder, [type='datetime-local']:-moz-placeholder, [type='email']:-moz-placeholder, [type='month']:-moz-placeholder, [type='number']:-moz-placeholder, [type='password']:-moz-placeholder, [type='search']:-moz-placeholder, [type='tel']:-moz-placeholder, [type='text']:-moz-placeholder, [type='time']:-moz-placeholder, [type='url']:-moz-placeholder, [type='week']:-moz-placeholder, input:not([type]):-moz-placeholder, textarea:-moz-placeholder {
  color: #bc9139; }

[type='color']::-moz-placeholder, [type='date']::-moz-placeholder, [type='datetime']::-moz-placeholder, [type='datetime-local']::-moz-placeholder, [type='email']::-moz-placeholder, [type='month']::-moz-placeholder, [type='number']::-moz-placeholder, [type='password']::-moz-placeholder, [type='search']::-moz-placeholder, [type='tel']::-moz-placeholder, [type='text']::-moz-placeholder, [type='time']::-moz-placeholder, [type='url']::-moz-placeholder, [type='week']::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
  color: #bc9139; }

[type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #bc9139; }

select {
  background-color: transparent;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  border-color: #000; }

select.icon-arrow-down {
  background-size: 10px;
  background-position: 95% 50%; }

textarea {
  resize: vertical; }

[type="checkbox"], [type="radio"] {
  display: inline; }

[type="file"] {
  width: 100%; }

select {
  width: 100%; }

select:hover, select:active, select:focus {
  cursor: pointer;
  outline: none; }

[type="submit"] {
  border-radius: 0;
  display: block;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none; }

[type="submit"]:hover, [type="submit"]:active, [type="submit"]:focus {
  outline: none;
  cursor: pointer; }

[type="submit"].button {
  padding: 8px 12px 7px 12px;
  font-size: 0.75em;
  letter-spacing: 2px;
  line-height: 1.2; }

[type="submit"].center {
  margin: 0 auto; }

.wpcf7-validation-errors, .wpcf7-spam-blocked {
  display: table !important;
  border: 0 !important;
  margin: 0 !important;
  background-color: #ff2c2c !important;
  color: white;
  text-align: center;
  padding: 1em !important;
  width: 100%; }

.wpcf7-not-valid-tip {
  background-color: #ff2c2c;
  color: white !important;
  margin-top: -16px;
  margin-bottom: 0.8em;
  padding: 6px 9px;
  border: 1px solid #000;
  border-top: none;
  font-size: 0.9em !important; }

.wpcf7-validates-as-required:after {
  content: ' ';
  display: inline-block; }

.captcha {
  overflow: hidden;
  height: 64px;
  width: 155px; }

.captcha .wpcf7-not-valid-tip {
  display: none !important; }

@media screen and (min-width: 768px) {
  .captcha {
    margin-top: -55px; } }

.captcha .wpcf7-form-control {
  top: -10px;
  position: relative;
  left: -1px; }

@media screen and (max-width: 767px) {
  .menu-218 select {
    margin-bottom: 1em; } }

.screenreaderonly {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: circle(1% at 1% 1%);
          clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.bg--green {
  background-color: #163323; }

.bg--pink {
  background-color: #ff5f5f; }

.bg--pink-faded {
  background-color: #fac4c0; }

.bg--gold {
  background-color: #bc9139; }

.bg--black {
  background-color: #000; }

.bg--white {
  background-color: #fff; }

.bg--gradient-pink-gold {
  background: -webkit-linear-gradient(top left, #ff5f5f 0%, #ff5f5f 50%, #bc9139 50%, #bc9139 100%);
  background: linear-gradient(to bottom right, #ff5f5f 0%, #ff5f5f 50%, #bc9139 50%, #bc9139 100%); }

.bg--texture {
  background-image: url("./images/bg-text.jpg");
  background-repeat: repeat;
  background-size: 401px; }

.border--green {
  border-color: #163323 !important; }

.border--pink {
  border-color: #ff5f5f !important; }

.border--pink-faded {
  border-color: #fac4c0 !important; }

.border--gold {
  border-color: #bc9139 !important; }

.border--black {
  border-color: #000 !important; }

.border--white {
  border-color: #fff !important; }

.border--1 {
  border: 1px solid; }

.border--2 {
  border: 2px solid; }

.border--3 {
  border: 3px solid; }

.border--right-1 {
  border-right: 1px solid; }

.border--right-2 {
  border-right: 2px solid; }

.border--right-3 {
  border-right: 3px solid; }

.border--left-1 {
  border-left: 1px solid; }

.border--left-2 {
  border-left: 2px solid; }

.border--left-3 {
  border-left: 3px solid; }

hr {
  border: 0;
  border-top: 1px solid; }

hr.two {
  border-top: 2px solid; }

hr.three {
  border-top: 3px solid; }

hr.four {
  border-top: 4px solid; }

hr.five {
  border-top: 5px solid; }

hr.shift {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg); }

.color--green {
  color: #163323; }

.color--green-light {
  color: #265939; }

.color--pink {
  color: #ff5f5f; }

.color--pink-faded {
  color: #fac4c0; }

.color--gold {
  color: #bc9139; }

.color--black {
  color: #000; }

.color--white {
  color: #fff; }

.vertical--center {
  position: relative;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.block {
  display: block; }

.margin--center {
  margin: 0 auto;
  display: block; }

.screenreadersonly {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

@media screen and (max-width: 767px) {
  .hidden--mob {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .hidden--dsk {
    display: none !important; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (min-width: 768px) {
  .dsk--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.flex--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.justify--between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify--around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify--end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align--items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.max-wrap {
  max-width: 1400px; }

.font--thin {
  font-weight: 100 !important; }

.font--bold {
  font-weight: 600 !important; }

.font--black {
  font-weight: 900 !important; }

.font--italic {
  font-style: italic; }

.font--normal {
  font-style: normal !important; }

.font--larger {
  font-size: 1.1em; }

@media screen and (min-width: 768px) {
  .font--largest {
    font-size: 1.4em; } }

.font--smaller {
  font-size: .9em; }

.font--even-smaller {
  font-size: .8em; }

.text--center {
  text-align: center !important; }

.text--right {
  text-align: right !important; }

.text--uppercase {
  text-transform: uppercase !important; }

.text--lowercase {
  text-transform: lowercase !important; }

.text--capitalize {
  text-transform: capitalize !important; }

.letter--1 {
  letter-spacing: 1px; }

.letter--1-half {
  letter-spacing: 1.5px; }

.letter--2 {
  letter-spacing: 2.5px; }

.letter--2.margin {
  margin-left: 1px; }

.font--sans {
  font-family: "sofia-pro",sans-serif; }

.grid--one, .section--image-grid .block--init-images div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%; }

.grid--four-fifths {
  -ms-flex-preferred-size: calc(100% / 1.25 - .2em);
      flex-basis: calc(100% / 1.25 - .2em);
  width: calc(100% / 1.25 - .2em); }

.grid--four-fifths.nog {
  -ms-flex-preferred-size: calc(100% /  1.25);
      flex-basis: calc(100% /  1.25);
  width: calc(100% /  1.25); }

.grid--three-fourths {
  -ms-flex-preferred-size: calc(75% - .25em);
      flex-basis: calc(75% - .25em);
  width: calc(75% - .25em); }

.grid--three-fourths.nog {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  width: 75%; }

.grid--two-thirds {
  -ms-flex-preferred-size: calc(100% / 1.5 - .3333333em);
      flex-basis: calc(100% / 1.5 - .3333333em);
  width: calc(100% / 1.5 - .3333333em); }

.grid--two-thirds.nog {
  -ms-flex-preferred-size: calc(100% / 1.5);
      flex-basis: calc(100% / 1.5);
  width: calc(100% / 1.5); }

.grid--half, .section--image-grid.viewingMore .block--init-images div {
  -ms-flex-preferred-size: calc(100% / 2 - .5em);
      flex-basis: calc(100% / 2 - .5em);
  width: calc(100% / 2 - .5em); }

.grid--half.nog, .section--image-grid.viewingMore .block--init-images div.nog {
  -ms-flex-preferred-size: calc(100% / 2);
      flex-basis: calc(100% / 2);
  width: calc(100% / 2); }

.grid--third {
  -ms-flex-preferred-size: calc(100% / 3 - .6666666em);
      flex-basis: calc(100% / 3 - .6666666em);
  width: calc(100% / 3 - .6666666em); }

.grid--third.nog {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  width: calc(100% / 3); }

.grid--fourth {
  -ms-flex-preferred-size: calc(100% / 4 - .75em);
      flex-basis: calc(100% / 4 - .75em);
  width: calc(100% / 4 - .75em); }

.grid--fourth.nog {
  -ms-flex-preferred-size: calc(100% / 4);
      flex-basis: calc(100% / 4);
  width: calc(100% / 4); }

.grid--fifth {
  -ms-flex-preferred-size: calc(100% / 5 - .8em);
      flex-basis: calc(100% / 5 - .8em);
  width: calc(100% / 5 - .8em); }

.grid--fifth.nog {
  -ms-flex-preferred-size: calc(100% / 5);
      flex-basis: calc(100% / 5);
  width: calc(100% / 5); }

@media screen and (min-width: 480px) {
  .grid--xs-one {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%; }
  .grid--xs-four-fifths {
    -ms-flex-preferred-size: calc(100% / 1.25 - .2em);
        flex-basis: calc(100% / 1.25 - .2em);
    width: calc(100% / 1.25 - .2em); }
  .grid--xs-four-fifths.nog {
    -ms-flex-preferred-size: calc(100% /  1.25);
        flex-basis: calc(100% /  1.25);
    width: calc(100% /  1.25); }
  .grid--xs-three-fourths {
    -ms-flex-preferred-size: calc(75% - .25em);
        flex-basis: calc(75% - .25em);
    width: calc(75% - .25em); }
  .grid--xs-three-fourths.nog {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    width: 75%; }
  .grid--xs-two-thirds {
    -ms-flex-preferred-size: calc(100% / 1.5 - .3333333em);
        flex-basis: calc(100% / 1.5 - .3333333em);
    width: calc(100% / 1.5 - .3333333em); }
  .grid--xs-two-thirds.nog {
    -ms-flex-preferred-size: calc(100% / 1.5);
        flex-basis: calc(100% / 1.5);
    width: calc(100% / 1.5); }
  .grid--xs-half {
    -ms-flex-preferred-size: calc(100% / 2 - .5em);
        flex-basis: calc(100% / 2 - .5em);
    width: calc(100% / 2 - .5em); }
  .grid--xs-half.nog {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
    width: calc(100% / 2); }
  .grid--xs-third {
    -ms-flex-preferred-size: calc(100% / 3 - .6666666em);
        flex-basis: calc(100% / 3 - .6666666em);
    width: calc(100% / 3 - .6666666em); }
  .grid--xs-third.nog {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    width: calc(100% / 3); }
  .grid--xs-fourth {
    -ms-flex-preferred-size: calc(100% / 4 - .75em);
        flex-basis: calc(100% / 4 - .75em);
    width: calc(100% / 4 - .75em); }
  .grid--xs-fourth.nog {
    -ms-flex-preferred-size: calc(100% / 4);
        flex-basis: calc(100% / 4);
    width: calc(100% / 4); }
  .grid--xs-fifth {
    -ms-flex-preferred-size: calc(100% / 5 - .8em);
        flex-basis: calc(100% / 5 - .8em);
    width: calc(100% / 5 - .8em); }
  .grid--xs-fifth.nog {
    -ms-flex-preferred-size: calc(100% / 5);
        flex-basis: calc(100% / 5);
    width: calc(100% / 5); } }

@media screen and (min-width: 768px) {
  .grid--sm-one {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%; }
  .grid--sm-four-fifths {
    -ms-flex-preferred-size: calc(100% / 1.25 - .2em);
        flex-basis: calc(100% / 1.25 - .2em);
    width: calc(100% / 1.25 - .2em); }
  .grid--sm-four-fifths.nog {
    -ms-flex-preferred-size: calc(100% /  1.25);
        flex-basis: calc(100% /  1.25);
    width: calc(100% /  1.25); }
  .grid--sm-three-fourths {
    -ms-flex-preferred-size: calc(75% - .25em);
        flex-basis: calc(75% - .25em);
    width: calc(75% - .25em); }
  .grid--sm-three-fourths.nog {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    width: 75%; }
  .grid--sm-two-thirds {
    -ms-flex-preferred-size: calc(100% / 1.5 - .3333333em);
        flex-basis: calc(100% / 1.5 - .3333333em);
    width: calc(100% / 1.5 - .3333333em); }
  .grid--sm-two-thirds.nog {
    -ms-flex-preferred-size: calc(100% / 1.5);
        flex-basis: calc(100% / 1.5);
    width: calc(100% / 1.5); }
  .grid--sm-half, .section--image-grid .block--init-images div:nth-of-type(2), .section--image-grid .block--init-images div:nth-of-type(3) {
    -ms-flex-preferred-size: calc(100% / 2 - .5em);
        flex-basis: calc(100% / 2 - .5em);
    width: calc(100% / 2 - .5em); }
  .grid--sm-half.nog, .section--image-grid .block--init-images div.nog:nth-of-type(2), .section--image-grid .block--init-images div.nog:nth-of-type(3) {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
    width: calc(100% / 2); }
  .grid--sm-two-fifths {
    -ms-flex-preferred-size: calc(100% / 2.5 - .6em);
        flex-basis: calc(100% / 2.5 - .6em);
    width: calc(100% / 2.5 - .6em); }
  .grid--sm-two-fifths.nog {
    -ms-flex-preferred-size: calc(100% /  1.25);
        flex-basis: calc(100% /  1.25);
    width: calc(100% /  1.25); }
  .grid--sm-third, .section--image-grid .block--init-images div:nth-of-type(1) {
    -ms-flex-preferred-size: calc(100% / 3 - .6666666em);
        flex-basis: calc(100% / 3 - .6666666em);
    width: calc(100% / 3 - .6666666em); }
  .grid--sm-third.nog, .section--image-grid .block--init-images div.nog:nth-of-type(1) {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    width: calc(100% / 3); }
  .grid--sm-fourth, .section--image-grid .block--init-images div:nth-of-type(4), .section--image-grid.viewingMore .block--init-images div {
    -ms-flex-preferred-size: calc(100% / 4 - .75em);
        flex-basis: calc(100% / 4 - .75em);
    width: calc(100% / 4 - .75em); }
  .grid--sm-fourth.nog, .section--image-grid .block--init-images div.nog:nth-of-type(4), .section--image-grid.viewingMore .block--init-images div.nog {
    -ms-flex-preferred-size: calc(100% / 4);
        flex-basis: calc(100% / 4);
    width: calc(100% / 4); }
  .grid--sm-fifth {
    -ms-flex-preferred-size: calc(100% / 5 - .8em);
        flex-basis: calc(100% / 5 - .8em);
    width: calc(100% / 5 - .8em); }
  .grid--sm-fifth.nog {
    -ms-flex-preferred-size: calc(100% / 5);
        flex-basis: calc(100% / 5);
    width: calc(100% / 5); } }

@media screen and (min-width: 992px) {
  .grid--md-one {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%; }
  .grid--md-four-fifths {
    -ms-flex-preferred-size: calc(100% / 1.25 - .2em);
        flex-basis: calc(100% / 1.25 - .2em);
    width: calc(100% / 1.25 - .2em); }
  .grid--md-four-fifths.nog {
    -ms-flex-preferred-size: calc(100% /  1.25);
        flex-basis: calc(100% /  1.25);
    width: calc(100% /  1.25); }
  .grid--md-three-fourths {
    -ms-flex-preferred-size: calc(75% - .25em);
        flex-basis: calc(75% - .25em);
    width: calc(75% - .25em); }
  .grid--md-three-fourths.nog {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    width: 75%; }
  .grid--md-two-thirds {
    -ms-flex-preferred-size: calc(100% / 1.5 - .3333333em);
        flex-basis: calc(100% / 1.5 - .3333333em);
    width: calc(100% / 1.5 - .3333333em); }
  .grid--md-two-thirds.nog {
    -ms-flex-preferred-size: calc(100% / 1.5);
        flex-basis: calc(100% / 1.5);
    width: calc(100% / 1.5); }
  .grid--md-half {
    -ms-flex-preferred-size: calc(100% / 2 - .5em);
        flex-basis: calc(100% / 2 - .5em);
    width: calc(100% / 2 - .5em); }
  .grid--md-half.nog {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
    width: calc(100% / 2); }
  .grid--md-third {
    -ms-flex-preferred-size: calc(100% / 3 - .6666666em);
        flex-basis: calc(100% / 3 - .6666666em);
    width: calc(100% / 3 - .6666666em); }
  .grid--md-third.nog {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    width: calc(100% / 3); }
  .grid--md-fourth {
    -ms-flex-preferred-size: calc(100% / 4 - .75em);
        flex-basis: calc(100% / 4 - .75em);
    width: calc(100% / 4 - .75em); }
  .grid--md-fourth.nog {
    -ms-flex-preferred-size: calc(100% / 4);
        flex-basis: calc(100% / 4);
    width: calc(100% / 4); }
  .grid--md-fifth {
    -ms-flex-preferred-size: calc(100% / 5 - .8em);
        flex-basis: calc(100% / 5 - .8em);
    width: calc(100% / 5 - .8em); }
  .grid--md-fifth.nog {
    -ms-flex-preferred-size: calc(100% / 5);
        flex-basis: calc(100% / 5);
    width: calc(100% / 5); } }

@media screen and (min-width: 1200px) {
  .grid--lg-one {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%; }
  .grid--lg-four-fifths {
    -ms-flex-preferred-size: calc(100% / 1.25 - .2em);
        flex-basis: calc(100% / 1.25 - .2em);
    width: calc(100% / 1.25 - .2em); }
  .grid--lg-four-fifths.nog {
    -ms-flex-preferred-size: calc(100% /  1.25);
        flex-basis: calc(100% /  1.25);
    width: calc(100% /  1.25); }
  .grid--lg-three-fourths {
    -ms-flex-preferred-size: calc(75% - .25em);
        flex-basis: calc(75% - .25em);
    width: calc(75% - .25em); }
  .grid--lg-three-fourths.nog {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    width: 75%; }
  .grid--lg-two-thirds {
    -ms-flex-preferred-size: calc(100% / 1.5 - .3333333em);
        flex-basis: calc(100% / 1.5 - .3333333em);
    width: calc(100% / 1.5 - .3333333em); }
  .grid--lg-two-thirds.nog {
    -ms-flex-preferred-size: calc(100% / 1.5);
        flex-basis: calc(100% / 1.5);
    width: calc(100% / 1.5); }
  .grid--lg-half {
    -ms-flex-preferred-size: calc(100% / 2 - .5em);
        flex-basis: calc(100% / 2 - .5em);
    width: calc(100% / 2 - .5em); }
  .grid--lg-half.nog {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
    width: calc(100% / 2); }
  .grid--lg-third {
    -ms-flex-preferred-size: calc(100% / 3 - .6666666em);
        flex-basis: calc(100% / 3 - .6666666em);
    width: calc(100% / 3 - .6666666em); }
  .grid--lg-third.nog {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    width: calc(100% / 3); }
  .grid--lg-fourth {
    -ms-flex-preferred-size: calc(100% / 4 - .75em);
        flex-basis: calc(100% / 4 - .75em);
    width: calc(100% / 4 - .75em); }
  .grid--lg-fourth.nog {
    -ms-flex-preferred-size: calc(100% / 4);
        flex-basis: calc(100% / 4);
    width: calc(100% / 4); }
  .grid--lg-fifth {
    -ms-flex-preferred-size: calc(100% / 5 - .8em);
        flex-basis: calc(100% / 5 - .8em);
    width: calc(100% / 5 - .8em); }
  .grid--lg-fifth.nog {
    -ms-flex-preferred-size: calc(100% / 5);
        flex-basis: calc(100% / 5);
    width: calc(100% / 5); } }

.section--email-signup span.block--signup {
  line-height: 1.3;
  margin-right: 1em; }

.section--email-signup .block--signup input {
  letter-spacing: 1.4px;
  font-size: 0.8em; }

.section--email-signup .block--signup #mc_embed_signup_scroll {
  position: relative; }

.section--email-signup .block--signup #mc_embed_signup_scroll .submitbutton {
  position: absolute;
  top: 0px;
  right: 20px; }

.section--email-signup .block--signup #mc_embed_signup_scroll .submitbutton .icon-plane {
  background-size: 20px;
  background-position: 90% 0%;
  background-color: transparent; }

@media screen and (max-width: 767px) {
  .section--email-signup .block--signup {
    display: block;
    text-align: center;
    margin: 0 !important;
    margin-top: 16px !important;
    color: white;
    font-size: 1.2em; } }

@media screen and (max-width: 767px) {
  .section--email-signup {
    background-color: #bc9139;
    overflow: hidden;
    position: relative; }
  .section--email-signup .target--email {
    display: inline-block;
    padding: 18px 20px;
    position: relative; }
  .section--email-signup .target--email i {
    display: inline-block;
    width: 50px;
    margin-left: 10px; }
  .section--email-signup form {
    width: 80%;
    left: 110%;
    position: absolute;
    top: 0; } }

.section--email-signup.toggled .target--email {
  left: -100%; }

.section--email-signup.toggled form {
  left: 0; }

.section--hero-content[style] {
  height: 75vh;
  padding-top: 50px;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  left: 0;
  right: 0;
  z-index: 1; }

@media screen and (min-width: 768px) {
  .section--hero-content[style] {
    height: 100vh;
    padding-top: 100px; } }

.section--home-hours {
  height: calc(70vw - 5em);
  width: calc(100vw - 5em);
  background-size: 100% 100%; }

@media screen and (min-width: 768px) {
  .section--home-hours {
    height: calc(57vw - 5em);
    width: calc(80vw - 5em); } }

@media screen and (min-width: 992px) {
  .section--home-hours {
    height: calc(42vw - 5em);
    width: calc(60vw - 5em); } }

.section--home-video {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  z-index: -9; }

.section--home-video.open {
  -webkit-transition: opacity 2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  opacity: 1;
  z-index: 999; }

.section--image-grid {
  position: relative;
  overflow: hidden;
  min-height: 100vh; }

.section--image-grid img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  display: block; }

.section--image-grid .block--init-images div {
  padding: 4em 0;
  -webkit-transition: -webkit-flex-basis 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-flex-basis 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: flex-basis 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: flex-basis 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-flex-basis 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99), -ms-flex-preferred-size 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99); }

.section--image-grid .block--more-images {
  position: absolute;
  opacity: 0;
  left: 100%;
  -webkit-transition: left 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: left 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }

@media screen and (min-width: 768px) {
  .section--image-grid .block--more-images {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4; } }

.section--image-grid .block--more-images img {
  margin-top: 50px;
  -webkit-transition: margin 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: margin 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99); }

.section--image-grid.viewingMore .block--init-images {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.section--image-grid.viewingMore .block--init-images div {
  padding: 0;
  -webkit-transition: -webkit-flex-basis 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-flex-basis 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: flex-basis 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: flex-basis 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-flex-basis 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99), -ms-flex-preferred-size 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

.section--image-grid.viewingMore .block--more-images {
  position: relative;
  opacity: 1;
  left: 0;
  -webkit-transition: left 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: left 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99); }

.section--image-grid.viewingMore .block--more-images div img {
  margin-top: 0;
  -webkit-transition: margin 0.7s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: margin 0.7s cubic-bezier(0.4, 0.01, 0.165, 0.99); }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  10% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 1; }
  10% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.section--menu .block--menu-wrap {
  -webkit-clip-path: polygon(100.3693% 22.81885%, 100.27781% 20.73367%, 100.25234% 20.25766%, 100.3188% 19.07443%, 100.19609% 18.87025%, 100.18886% 18.68009%, 100.28269% 18.55673%, 100.26218% 18.33133%, 100.3386% 16.36246%, 100.3484% 14.44048%, 100.33383% 12.94117%, 100.26751% 11.05722%, 100.25279% 10.68665%, 100.16074% 10.40483%, 100.26354% 10.05544%, 100.26729% 8.22783%, 100.25851% 7.75045%, 100.21498% 7.13776%, 100.23186% 6.45561%, 100.21819% 5.90205%, 99.3774% 5.67467%, 99.11286% 5.5953%, 99.3003% 5.55708%, 99.128% 5.47774%, 98.2631% 5.23515%, 98.26787% 5.24112%, 97.48027% 4.9462%, 97.48564% 4.94153%, 97.1926% 4.82053%, 97.07189% 4.71955%, 96.79024% 4.39128%, 96.80144% 4.41%, 96.78982% 4.39366%, 96.50306% 4.12112%, 96.40408% 3.99581%, 96.41025% 4.00729%, 96.40715% 4.00326%, 96.20495% 3.7119%, 96.20854% 3.71469%, 96.07254% 3.47388%, 95.82488% 3.19969%, 95.38168% 2.16352%, 94.90669% 0.08816%, 94.29868% 0.04758%, 92.61177% 0.14852%, 89.8811% 0.16385%, 87.03192% 0.15916%, 84.80941% 0.21437%, 82.91495% 0.22407%, 81.02883% 0.07686%, 78.53545% 0.00552%, 18.84664% 0.06588%, 15.16296% 0.21358%, 12.14138% 0.45836%, 10.6111% 0.5687%, 9.80693% 0.58009%, 7.61358% 0.65924%, 7.57962% 0.66013%, 7.05784% 0.71125%, 6.41903% 0.79311%, 6.40996% 0.97474%, 6.32535% 1.62152%, 6.2941% 1.69203%, 5.93705% 2.5916%, 5.91819% 2.61857%, 5.62896% 3.56345%, 5.36659% 4.1242%, 4.84915% 4.87756%, 4.13488% 5.53388%, 3.22983% 6.02211%, 2.34793% 6.26759%, 0.48501% 6.3881%, 0.47225% 6.98402%, 0.46054% 7.5805%, 0.4846% 8.13082%, 0.51613% 8.63271%, 0.57124% 9.20735%, 0.51376% 11.57522%, 0.27664% 15.73395%, 0.19666% 17.97565%, 0.00381% 21.09406%, 0.07826% 24.84904%, 0.1417% 25.63152%, 0.15014% 25.64358%, 0.11316% 25.94084%, 0.22212% 27.77717%, 0.15696% 31.11001%, 0.17793% 32.86746%, 0.09507% 61.5972%, 0.14882% 64.72237%, 0.15296% 66.99286%, 0.17416% 70.37367%, 0.14201% 73.95065%, 0.14102% 74.78369%, 0.13519% 76.97362%, 0.1305% 79.01148%, 0.10907% 81.4449%, 0.15419% 84.08306%, 0.19117% 84.79645%, 0.22198% 85.565%, 0.73627% 85.63236%, 0.93116% 85.67988%, 1.37444% 85.77331%, 1.92461% 86.02533%, 2.24517% 86.14777%, 2.89311% 86.62629%, 2.96183% 86.70774%, 4.05951% 87.75547%, 5.56154% 90.18872%, 5.57441% 90.22245%, 5.6166% 90.33249%, 5.75869% 90.61267%, 5.90569% 91.08087%, 6.02412% 91.36727%, 6.34236% 91.40358%, 8.20954% 91.35684%, 11.30933% 91.23322%, 16.8229% 91.31868%, 78.72928% 91.47426%, 81.5311% 91.5239%, 83.84234% 91.45215%, 84.85236% 91.42087%, 86.61256% 91.27804%, 87.82702% 91.12103%, 88.95241% 91.04575%, 91.12265% 91.039%, 91.87752% 91.11602%, 94.27426% 91.08302%, 94.69422% 90.96022%, 94.90323% 89.66384%, 95.50094% 88.23111%, 96.66434% 86.88238%, 96.74023% 86.59747%, 96.7961% 86.55258%, 97.1248% 86.45057%, 97.86237% 85.84652%, 99.73487% 84.92155%, 100.33931% 84.58658%, 100.34208% 83.95967%, 100.26119% 82.89085%, 100.10214% 80.83119%, 100.15778% 79.39428%, 100.10304% 78.0335%, 99.97427% 76.89598%, 100.01027% 76.8131%, 100.04093% 75.67074%, 100.04475% 75.66868%, 100.04195% 75.47106%, 100.12015% 73.54403%, 100.09419% 72.29398%, 99.98691% 71.14694%, 100.04793% 71.1282%, 100.04683% 70.68904%, 100.0706% 68.91364%, 100.06697% 67.2903%, 100.20085% 66.09492%, 100.1915% 65.24022%, 100.22311% 63.37669%, 100.23579% 62.62406%, 100.2915% 61.0444%, 100.28866% 60.91832%, 100.15577% 32.04683%, 100.14263% 30.36255%, 100.29555% 27.90326%, 100.35203% 26.26917%, 100.24181% 26.14236%, 100.29851% 25.60883%, 100.25732% 24.91561%, 100.30199% 24.23745%, 100.31225% 23.28502%, 100.3693% 22.81885%);
          clip-path: polygon(100.3693% 22.81885%, 100.27781% 20.73367%, 100.25234% 20.25766%, 100.3188% 19.07443%, 100.19609% 18.87025%, 100.18886% 18.68009%, 100.28269% 18.55673%, 100.26218% 18.33133%, 100.3386% 16.36246%, 100.3484% 14.44048%, 100.33383% 12.94117%, 100.26751% 11.05722%, 100.25279% 10.68665%, 100.16074% 10.40483%, 100.26354% 10.05544%, 100.26729% 8.22783%, 100.25851% 7.75045%, 100.21498% 7.13776%, 100.23186% 6.45561%, 100.21819% 5.90205%, 99.3774% 5.67467%, 99.11286% 5.5953%, 99.3003% 5.55708%, 99.128% 5.47774%, 98.2631% 5.23515%, 98.26787% 5.24112%, 97.48027% 4.9462%, 97.48564% 4.94153%, 97.1926% 4.82053%, 97.07189% 4.71955%, 96.79024% 4.39128%, 96.80144% 4.41%, 96.78982% 4.39366%, 96.50306% 4.12112%, 96.40408% 3.99581%, 96.41025% 4.00729%, 96.40715% 4.00326%, 96.20495% 3.7119%, 96.20854% 3.71469%, 96.07254% 3.47388%, 95.82488% 3.19969%, 95.38168% 2.16352%, 94.90669% 0.08816%, 94.29868% 0.04758%, 92.61177% 0.14852%, 89.8811% 0.16385%, 87.03192% 0.15916%, 84.80941% 0.21437%, 82.91495% 0.22407%, 81.02883% 0.07686%, 78.53545% 0.00552%, 18.84664% 0.06588%, 15.16296% 0.21358%, 12.14138% 0.45836%, 10.6111% 0.5687%, 9.80693% 0.58009%, 7.61358% 0.65924%, 7.57962% 0.66013%, 7.05784% 0.71125%, 6.41903% 0.79311%, 6.40996% 0.97474%, 6.32535% 1.62152%, 6.2941% 1.69203%, 5.93705% 2.5916%, 5.91819% 2.61857%, 5.62896% 3.56345%, 5.36659% 4.1242%, 4.84915% 4.87756%, 4.13488% 5.53388%, 3.22983% 6.02211%, 2.34793% 6.26759%, 0.48501% 6.3881%, 0.47225% 6.98402%, 0.46054% 7.5805%, 0.4846% 8.13082%, 0.51613% 8.63271%, 0.57124% 9.20735%, 0.51376% 11.57522%, 0.27664% 15.73395%, 0.19666% 17.97565%, 0.00381% 21.09406%, 0.07826% 24.84904%, 0.1417% 25.63152%, 0.15014% 25.64358%, 0.11316% 25.94084%, 0.22212% 27.77717%, 0.15696% 31.11001%, 0.17793% 32.86746%, 0.09507% 61.5972%, 0.14882% 64.72237%, 0.15296% 66.99286%, 0.17416% 70.37367%, 0.14201% 73.95065%, 0.14102% 74.78369%, 0.13519% 76.97362%, 0.1305% 79.01148%, 0.10907% 81.4449%, 0.15419% 84.08306%, 0.19117% 84.79645%, 0.22198% 85.565%, 0.73627% 85.63236%, 0.93116% 85.67988%, 1.37444% 85.77331%, 1.92461% 86.02533%, 2.24517% 86.14777%, 2.89311% 86.62629%, 2.96183% 86.70774%, 4.05951% 87.75547%, 5.56154% 90.18872%, 5.57441% 90.22245%, 5.6166% 90.33249%, 5.75869% 90.61267%, 5.90569% 91.08087%, 6.02412% 91.36727%, 6.34236% 91.40358%, 8.20954% 91.35684%, 11.30933% 91.23322%, 16.8229% 91.31868%, 78.72928% 91.47426%, 81.5311% 91.5239%, 83.84234% 91.45215%, 84.85236% 91.42087%, 86.61256% 91.27804%, 87.82702% 91.12103%, 88.95241% 91.04575%, 91.12265% 91.039%, 91.87752% 91.11602%, 94.27426% 91.08302%, 94.69422% 90.96022%, 94.90323% 89.66384%, 95.50094% 88.23111%, 96.66434% 86.88238%, 96.74023% 86.59747%, 96.7961% 86.55258%, 97.1248% 86.45057%, 97.86237% 85.84652%, 99.73487% 84.92155%, 100.33931% 84.58658%, 100.34208% 83.95967%, 100.26119% 82.89085%, 100.10214% 80.83119%, 100.15778% 79.39428%, 100.10304% 78.0335%, 99.97427% 76.89598%, 100.01027% 76.8131%, 100.04093% 75.67074%, 100.04475% 75.66868%, 100.04195% 75.47106%, 100.12015% 73.54403%, 100.09419% 72.29398%, 99.98691% 71.14694%, 100.04793% 71.1282%, 100.04683% 70.68904%, 100.0706% 68.91364%, 100.06697% 67.2903%, 100.20085% 66.09492%, 100.1915% 65.24022%, 100.22311% 63.37669%, 100.23579% 62.62406%, 100.2915% 61.0444%, 100.28866% 60.91832%, 100.15577% 32.04683%, 100.14263% 30.36255%, 100.29555% 27.90326%, 100.35203% 26.26917%, 100.24181% 26.14236%, 100.29851% 25.60883%, 100.25732% 24.91561%, 100.30199% 24.23745%, 100.31225% 23.28502%, 100.3693% 22.81885%);
  padding-bottom: 10em; }

.section--menu .block--menu-wrap .icon-gold-border-menu {
  background-size: cover; }

.section--menu .block--menu-wrap .gold-border {
  background: url("./images/bg-border.png");
  background-size: 100% 100%; }

.section--menu h5 {
  display: inline-block; }

.section--menu h5 hr {
  width: 110%; }

header .icon-logo-horizontal svg {
  width: 242px; }

.icon-nav {
  position: relative;
  z-index: 99999;
  width: 32px;
  display: block;
  float: right; }

@media screen and (max-width: 767px) {
  .icon-logo {
    width: 180px;
    max-width: 80%; } }

.spacing--vert-1 {
  padding-top: 1em;
  padding-bottom: 1em; }

.spacing--vert-2 {
  padding-top: 2em;
  padding-bottom: 2em; }

.spacing--vert-3 {
  padding-top: 3em;
  padding-bottom: 3em; }

.spacing--vert-4 {
  padding-top: 4em;
  padding-bottom: 4em; }

.spacing--vert-5 {
  padding-top: 5em;
  padding-bottom: 5em; }

.spacing--vert-6 {
  padding-top: 6em;
  padding-bottom: 6em; }

.spacing--horiz-1 {
  padding-left: 1em;
  padding-right: 1em; }

.spacing--horiz-2 {
  padding-left: 2em;
  padding-right: 2em; }

.spacing--horiz-3 {
  padding-left: 3em;
  padding-right: 3em; }

.spacing--horiz-4 {
  padding-left: 4em;
  padding-right: 4em; }

.spacing--horiz-5 {
  padding-left: 5em;
  padding-right: 5em; }

.spacing--horiz-6 {
  padding-left: 6em;
  padding-right: 6em; }

@media screen and (min-width: 768px) {
  .spacing--dsk-vert-1 {
    padding-top: 1em;
    padding-bottom: 1em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-vert-2 {
    padding-top: 2em;
    padding-bottom: 2em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-vert-3 {
    padding-top: 3em;
    padding-bottom: 3em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-vert-4 {
    padding-top: 4em;
    padding-bottom: 4em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-vert-5 {
    padding-top: 5em;
    padding-bottom: 5em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-vert-6 {
    padding-top: 6em;
    padding-bottom: 6em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-horiz-1 {
    padding-left: 1em;
    padding-right: 1em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-horiz-2 {
    padding-left: 2em;
    padding-right: 2em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-horiz-3 {
    padding-left: 3em;
    padding-right: 3em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-horiz-4 {
    padding-left: 4em;
    padding-right: 4em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-horiz-5 {
    padding-left: 5em;
    padding-right: 5em; } }

@media screen and (min-width: 768px) {
  .spacing--dsk-horiz-6 {
    padding-left: 6em;
    padding-right: 6em; } }

.spacing--bot-6 {
  padding-bottom: 6em; }

.spacing--gutter {
  padding-right: 16px;
  padding-left: 16px; }

@media screen and (min-width: 992px) {
  .spacing--gutter {
    padding-left: 2.5em;
    padding-right: 2.5em; } }

.margin--right-10 {
  margin-right: 10px; }

svg {
  display: block;
  margin: 0 auto;
  overflow: visible; }

g path {
  stroke: #fff;
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.165, 0.99);
          animation-timing-function: cubic-bezier(0.4, 0.01, 0.165, 0.99);
  fill: transparent;
  -webkit-animation-name: dash;
          animation-name: dash; }

g:nth-of-type(2) path {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

g:nth-of-type(3) path {
  -webkit-animation-duration: 1.50s;
          animation-duration: 1.50s; }

g:nth-of-type(4) path {
  -webkit-animation-duration: 1.68s;
          animation-duration: 1.68s; }

g:nth-of-type(5) path {
  -webkit-animation-duration: 1.80s;
          animation-duration: 1.80s; }

g:nth-of-type(6) path {
  -webkit-animation-duration: 1.92s;
          animation-duration: 1.92s; }

g:nth-of-type(7) path {
  -webkit-animation-duration: 2.04s;
          animation-duration: 2.04s; }

g:nth-of-type(8) path {
  -webkit-animation-duration: 2.28s;
          animation-duration: 2.28s; }

g:nth-of-type(8) path:nth-of-type(2) {
  -webkit-animation-duration: 2.16s;
          animation-duration: 2.16s; }

g:nth-of-type(9) path {
  -webkit-animation-duration: 2.40s;
          animation-duration: 2.40s; }

g:nth-of-type(10) path {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s; }

#santa, #ana {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.01, 0.165, 0.99);
          animation-timing-function: cubic-bezier(0.4, 0.01, 0.165, 0.99);
  opacity: 0; }

#santa {
  -webkit-animation-name: letters;
          animation-name: letters; }

#ana {
  -webkit-animation-name: letters-taller;
          animation-name: letters-taller; }

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: -1000; }
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  from {
    stroke-dashoffset: -1000; }
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes letters {
  0% {
    opacity: 0;
    -webkit-transform: translate(1.91px, 20px);
            transform: translate(1.91px, 20px); }
  30% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translate(1.91px, 1.62px);
            transform: translate(1.91px, 1.62px); } }

@keyframes letters {
  0% {
    opacity: 0;
    -webkit-transform: translate(1.91px, 20px);
            transform: translate(1.91px, 20px); }
  30% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translate(1.91px, 1.62px);
            transform: translate(1.91px, 1.62px); } }

@-webkit-keyframes letters-taller {
  0% {
    opacity: 0;
    -webkit-transform: translate(1.91px, 45px);
            transform: translate(1.91px, 45px); }
  30% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translate(1.91px, 1.62px);
            transform: translate(1.91px, 1.62px); } }

@keyframes letters-taller {
  0% {
    opacity: 0;
    -webkit-transform: translate(1.91px, 45px);
            transform: translate(1.91px, 45px); }
  30% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translate(1.91px, 1.62px);
            transform: translate(1.91px, 1.62px); } }
