<section class="section--home-about spacing--gutter">
	{% if home.about.title %}<h2 class="text--center font--sans">{{home.about.title}}</h2>{% endif %}
	{% if home.about.text %}<div class="column--2">{{home.about.text}}</div>{% endif %}
</section>