<section class="section--home-description spacing--gutter">
	<i class="icon-cocktail-illustration margin--center block" data-grunticon-embed></i>
	<i class="icon-divider margin--center hidden--mob" data-grunticon-embed></i>
	<div class="text--uppercase color--gold text--center font--smaller margin--vert-1 letter--2 line--2">
	{{home.description}}
	</div>
	<i class="icon-divider margin--center hidden--mob" data-grunticon-embed></i><br>
	<i class="icon-deco down color--green-light margin--center block" data-grunticon-embed></i>
</section>