<section class="section--hero-content" {% if header.image %}style="background-image:url('{{header.image}}')"{% endif %}>
	<i class="icon-logo grid--sm-fourth vertical--center margin--center" data-grunticon-embed></i>
</section>