<section class="section--email-signup spacing--gutter flex flex--wrap justify--center grid--one spacing--vert-2 spacing--dsk-vert-5">
	<div id="mc_embed_signup" class="grid--one grid--md-half flex flex--wrap justify--around">
		<span class="befirst color--gold block--signup-text">Be the first to get news +<br>updates about Vacation </span>
		<div class="block--signup-form grid--one grid--sm-half">
			<a href="" class="hidden--dsk target--email color--gold bg--white text--uppercase spacing--horiz-1 spacing--vert-1">Sign Up <i class="icon-arrow-right" data-grunticon-embed></i></a>
			{% include 'components/blocks/block--home-email-form.twig' %}
		</div>
	</div>
</section>