<section data-nav="gallery" id="gallery" class="section--image-grid hidden--mob spacing--vert-3 has--nav">
	<div class="block--init-images grid--one flex flex--wrap justify--around spacing--gutter">
		{% for image in home.gallery %}
			{% if loop.index <= 4 %}
				<div id="element-{{loop.index}}">
					<img src="{{image}}" data-action="zoom">
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="block--more-images grid--one spacing--gutter">
		{% for image in home.gallery %}
			{% if loop.index > 4 %}
				<div id="element-{{loop.index + 4 }}">
					<img src="{{image}}" data-action="zoom">
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="text--right spacing--gutter">
		<a href="" class="gallery--button font--larger color--pink" id="viewGallery"><span>View More</span> <i class="icon-arrow-right" data-grunticon-embed></i></a>
	</div>
</section>