<section class="section--home-description spacing--gutter spacing--dsk-vert-4">
	<div class="grid--one grid--sm-half margin--center">
		<i class="icon-cocktail-illustration margin--center block hidden--mob" data-grunticon-embed></i>
		<br>
		<i class="icon-divider margin--center" data-grunticon-embed></i>
		<div class="text--uppercase color--gold text--center font--smaller font--dsk-larger margin--vert-1 letter--2 line--2">
			{{home.description}}
		</div>
		<i class="icon-divider margin--center" data-grunticon-embed></i><br><br>
		<i class="icon-deco relative down color--green-light margin--center block hidden--mob" data-grunticon-embed></i>
	</div>
</section>