<section class="section--home-about spacing--gutter spacing--vert-1 spacing--dsk-vert-5 grid--sm-three-fourths margin--center">
	<i class="icon-divider hidden--dsk block margin--center margin--vert-1" data-grunticon-embed></i>
	{% if home.about.title %}<h3 class="text--dsk-center font--sans">{{home.about.title}}
		<div class="divider-bg hidden--mob">
		<i class="icon-divider" data-grunticon-embed></i>
		<i class="icon-divider" data-grunticon-embed></i>
		<i class="icon-divider" data-grunticon-embed></i>
	</div>
	</h3>{% endif %}
	{% if home.about.text %}<div class="column--2 font--largest font--thin spacing--vert-1 spacing--dsk-vert-4">{{home.about.text}}</div>{% endif %}
</section>