<div class="block--social">
<a href=""><i class="icon-social-fb" data-grunticon-embed></i></a>
<a href=""><i class="icon-social-tw" data-grunticon-embed></i></a>
<a href=""><i class="icon-social-in" data-grunticon-embed></i></a>
</div>