.icon-arrow--gallery { background-image: url('app/icons/arrow--gallery.png'); background-repeat: no-repeat; }

.icon-arrow-nopost { background-image: url('app/icons/arrow-nopost.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('app/icons/arrow-right.png'); background-repeat: no-repeat; }

.icon-border-bottom-01 { background-image: url('app/icons/border-bottom-01.png'); background-repeat: no-repeat; }

.icon-border-bottom { background-image: url('app/icons/border-bottom.png'); background-repeat: no-repeat; }

.icon-border-top-2 { background-image: url('app/icons/border-top-2.png'); background-repeat: no-repeat; }

.icon-border-top { background-image: url('app/icons/border-top.png'); background-repeat: no-repeat; }

.icon-cocktail-illustration { background-image: url('app/icons/cocktail-illustration.png'); background-repeat: no-repeat; }

.icon-deco-bg-01 { background-image: url('app/icons/deco-bg-01.png'); background-repeat: no-repeat; }

.icon-deco-bg { background-image: url('app/icons/deco-bg.png'); background-repeat: no-repeat; }

.icon-deco { background-image: url('app/icons/deco.png'); background-repeat: no-repeat; }

.icon-divider { background-image: url('app/icons/divider.png'); background-repeat: no-repeat; }

.icon-gold-border-menu { background-image: url('app/icons/gold-border-menu.png'); background-repeat: no-repeat; }

.icon-gold-border { background-image: url('app/icons/gold-border.png'); background-repeat: no-repeat; }

.icon-logo-footer { background-image: url('app/icons/logo-footer.png'); background-repeat: no-repeat; }

.icon-logo-horizontal { background-image: url('app/icons/logo-horizontal.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-menu-bg-icons { background-image: url('app/icons/menu-bg-icons.png'); background-repeat: no-repeat; }

.icon-nav { background-image: url('app/icons/nav.png'); background-repeat: no-repeat; }

.icon-plane-white { background-image: url('app/icons/plane-white.png'); background-repeat: no-repeat; }

.icon-plane { background-image: url('app/icons/plane.png'); background-repeat: no-repeat; }

.icon-social-fb { background-image: url('app/icons/social-fb.png'); background-repeat: no-repeat; }

.icon-social-in { background-image: url('app/icons/social-in.png'); background-repeat: no-repeat; }

.icon-social-tw { background-image: url('app/icons/social-tw.png'); background-repeat: no-repeat; }

