$timing: 0.9s;
$delay: 1s;

.icon-logo {
    svg {
        // width: 80vw;
        display: block;
        margin: 0 auto;
        overflow: visible;
    }

    g {
        path {
            stroke: #fff;
            stroke-dasharray: 1000;
            stroke-dashoffset: -1000;
            stroke-linecap: round;
            animation-duration: 1.5 * $timing;
            animation-fill-mode: forwards;
            animation-timing-function: $base-cubic;
            fill: transparent;
            animation-name: dash;
        }

        // &:nth-of-type(1) {
        //     path {
        //         animation-duration: 1.3 * $timing;

        //     }
        // }

        &:nth-of-type(2) {
            path {
                animation-delay: 0.5 * $delay;
                animation-duration: 1.75 * $timing;

                &:nth-of-type(2) {
                    animation-delay: 0.7 * $delay;
                }
            }
        }

        &:nth-of-type(3) {
            path {
                animation-delay: 0.8 * $delay;
                animation-duration: 1.5 * $timing;
            }
        }

        &:nth-of-type(4) {
            path {
                animation-delay: 0.9 * $delay;
                animation-duration: 1.5 * $timing;

                &:nth-of-type(2) {
                    animation-delay: 1.1 * $delay;
                }
            }
        }

        &:nth-of-type(5) {
            path {
                animation-delay: 0.9 * $delay;
                animation-duration: 1.5 * $timing;
            }
        }

        &:nth-of-type(6) {
            path {
                animation-delay: 1 * $delay;
                animation-duration: 1.5 * $timing;
            }
        }

        &:nth-of-type(7) {
            path {
                animation-delay: 1.1 * $delay;
                animation-duration: 1.2 * $timing;
            }
        }

        &:nth-of-type(8) {
            path {
                animation-delay: 1.2 * $delay;
                animation-duration: 1.3 * $timing;

                &:nth-of-type(2) {
                    animation-delay: 1.3 * $delay;
                }
            }
        }

        &:nth-of-type(9) {
            path {
                animation-delay: 1.3 * $delay;
                animation-duration: 1.5 * $timing;
            }
        }

        &:nth-of-type(10) {
            path {
                animation-delay: 1.3 * $delay;
                animation-duration: 1.2 * $timing;
            }
        }
    }

    [data-name="santa"], [data-name="ana"] {
        animation-delay: 1 * $delay;
        animation-duration: 1 * $timing;
        animation-fill-mode: forwards;
        animation-timing-function: $base-cubic;
        opacity: 0;
    }

    [data-name="santa"] {
        animation-name: letters;
    }

    [data-name="ana"] {
        animation-name: letters-taller;
    }
}

@keyframes dash {
    from {
        stroke-dasharray: 1000;
    }

    to {
        stroke-dasharray: 840;
    }
}

@keyframes letters {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes letters-taller {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}